<button
    class="button button__{{#if variant}}{{variant}}{{else}}filled{{/if}}"
    {{#if page}} page={{page}}{{/if}}
    {{#if type}} type={{type}}{{/if}}
>
    {{label}}
</button>

{{!-- <button
    class="button button__{{#if type}}{{type}}{{else}}filled{{/if}}"
    {{#if page}} page={{page}}{{/if}}
>
    {{#if label}}
        {{> Text text=label type="span" classes="text_title text_contrast-color"}}
    {{/if}}
</button> --}}
